*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #c4c3ba;
    overflow-x: auto;
}
.title{
    display: row;
    background-color: #111111;
}
.title h1{
    text-align: center; 
    color: #c9b977;
    font-size: 3em;
}
.title a{
    text-decoration: none;
    color: #c9b977;
}
/* listapage */
.listpage{
    display: flex;
    flex-direction: row;
    background-color: #111111;
    border-bottom: 5px solid #c9b977;   
}
.login{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 5rem;
    width: 100%;
    list-style: none;
}
.logado{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 5rem;
    width: 100%;
    list-style: none;
}
.listpage-btn{
    max-width: 100%;
    font-size: 2.5em;
    background: transparent;
    border: none;
    color: #c9b977;
    text-decoration: none;
    cursor: pointer;
}

/* logbox*/
.logBox{
    display: flex;
    position: absolute;
    top: 1vh;
    left: 1vw;
    background: #111111;
    padding: 1rem;
    color: #c9b977;
    border: 2px solid #c9b977;
    border-radius: 25%;
}
.logBox-container{
    display: flex;
    flex-direction: column;
    color: #c9b977;
    font-size: 1rem;
    padding: 12px;
}
.logBox-text{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 2px;
}
.logBox-label{
    display: flex;
    padding: 2px;
}
.logBox-btn{
    background: transparent;
    color: #c9b977;
    border: none;
    cursor: pointer;
}
.logBox-close{
    background: transparent;
    color: red;
    border: none;
    cursor: pointer;
}
/*criar*/
.criar{
    display: flex;
    position: absolute;
    background: #111111;
    padding: 2rem;
    color: #c9b977;
    border: 2px solid #c9b977;
    border-radius: 25%;
    width: 35rem;
    right: 0vw;
    bottom: 0vh;
}
.criar-container{
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-top: 2rem;    
}
.criar-text{
   display: flex;
   flex-direction: row;
   text-align: start;
   height: 100%;
}
.criar-fieldset{
    display: flex;
    flex-direction: column;
    width: 50%;
    border: none
}
.criar-label{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 1rem;
    padding: 2px;
}
.criar-btn{
    border: none;
    background: transparent;
    cursor: pointer;
    color: #c9b977;
    font-size: 2rem;
    padding-top: 2rem;
}

/* esqueceu*/
.esqueceu{
    display: flex;
    background: #111111;
    position: absolute;
    padding: 2rem;
    color: #c9b977;
    border: 2px solid #c9b977;
    border-radius: 25%;
    width: 20rem;
    right: 0vw;
    bottom: 0vh;
}
.esqueceu-container{
    display: flex;
    flex-direction: column;
    padding: 2px;
}
.esqueceu-label{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 2px;
}
.esqueceu-btn{
    display: flex;
    justify-content: end;
    border: none;
    background: transparent;
    color: #c9b977;
    cursor: pointer;
    font-size: 1rem;
    padding-top: 10px;
    width: 100%;
}
/*main*/
.main-container{
    display: flex;
    flex-direction: row;
}
.main-ready{
    display: flex;
    flex-direction: column;
    width: 50%;
}
.main-question{
    display: flex;
    flex-direction: column;
    text-align: end;
    font-size: 5rem;
    padding-right: 5rem;
}
.main-awnser{
    display: flex;
    flex-direction: row;
    justify-content: end;
    padding-right: 1rem;
    cursor: pointer;
    gap: 2rem;
    font-size: 3rem;
}
.awnser-btn{
    border: none;
    background: transparent;
    font-size: 3rem;
    cursor: pointer;
}
.awnser-no{
    text-decoration: none;
    color: black;
}
.main-motivationText{
    display: flex;
    padding: 10px;
    width: 50%;
    font-size: 2rem;
    text-align: justify;
}
.main-image{
    display: flex;
    width: 50%;
}
/* content page*/
/*treino*/
.treino{
    display: flex;
}
.form-treino{
    display: flex;
    flex-direction: column;
    padding: 3rem;
    background-color: #111111;
    border: 3px solid #6e643c;
    border-radius: 25%;
}
.fieldset-form-treino{
    display: flex;
    flex-direction: column;
    border: none;
    padding: 1rem;
    color: #c9b977;
    font-size: 2rem;
}
.label-form-treino{
    font-size: 1rem;
    padding-bottom: 5px;
}
.select-form-treino{
    width: 50%;
    margin: .25rem;
}
.btn-form-treino{
    background: none;
    color: #c9b977;
    font-size: 2rem;
    margin: auto;
    padding: .25rem;
}
/*mobilidade*/
.mobilidade{
    display: flex;
}
/*alimentação*/
.alimentacao{
    display: flex;
}
/*classes universais*/
.hidden{
    display: none;
}
.toast{
    display: flex;
    background-color: #111111;
    border: 1px solid #c9b977;
    padding: 1rem;
    color: #c9b977;
    border-radius: 50%;
    width: 15rem;
    height: 5rem;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 0vh;
    right: 0vw;
}
.footer{
    border: 3px solid black;
}